---
galleries:
  #- cover: 30.jpg
  #  title: catz
  - cover: 19.jpg
    path: esther
  - path: coe
    cover: 15.jpg
  - path: mm
    cover: 2.jpg
---

{% include header.html %}

  <div id="photo" class="gallery">
    <div class="tiles">
      {% for gallery in page.galleries %}
        <div class="photo-container" style="background-image: url('/img/{{ gallery.path }}/{{ gallery.cover }}')">
          <a  class="internal" href="/galleries/{{ gallery.path }}.html"></a>
        </div>
      {% endfor %}
    </div>
  </div>

{% include footer.html %}
