<html>
  <head>
    <title>Alexander Brett</title>
    <meta name="author" content="Alexander Brett">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    
    <link rel="stylesheet" href="/styles/raleway.css"/>
    <link rel="stylesheet" href="/styles/style.css"/>
    <link rel="stylesheet" href="/styles/highlight-rouge.css">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>
  
  <body class="light">
    <header>
      <a href="/" class="home">
        <h1>Alexander Brett</h1>
      </a>
      <ul>
        <li>
          <a class="internal" href="/index.html">Code</a>
        </li>
        <li>
          <a class="internal" href="/photo.html">Photo</a>
        </li>
        <li>
          <a href="mailto:alex@alexander-brett.co.uk">Email</a>
        </li>
      </ul>
    </header>
    
    <div id="content">