<html>
  <head>
    <title>
      Alexander Brett
      {% if page.title %}
      &nbsp;|&nbsp;{{page.title}}
      {% elsif page.currentTag %}
      &nbsp;|&nbsp;{{page.currentTag}}
      {% endif %}
    </title>
    <meta name="author" content="Alexander Brett">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="alternate" type="application/rss+xml"
	  title="Alexander Brett's Code RSS" href="/index.rss">

    <link rel="stylesheet" href="/res/styles/style.css"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </head>

  <body class="light">
    <header>
      <a href="/" class="home">
        <h1>Alexander Brett</h1>
      </a>
      <ul>
        <li>
          <a class="internal" href="/">Code</a>
        </li>
        <li>
          <a class="internal" href="/photo.html">Photo</a>
        </li>
        <li>
          <a class="internal" href="/about.html">About</a>
        </li>
      </ul>
    </header>

    <div id="content">
