@font-face {
    font-family: 'RalewayThin';
    src: url('raleway_thin-webfont.woff') format('woff');
}

@font-face {
    font-family: 'RalewayMedium';
    src: url('Raleway-Medium-webfont.woff') format('woff');
}

@font-face {
    font-family: 'RalewayBold';
    src: url('Raleway-Bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata.otf') format('opentype');
}