{% include header.html %}

{% assign key = (page.path | replace: "/index.html","" | split:"/" | last )  %}
{% assign gallery = site.galleries[key] %}

  <div id="gallery" class="gallery">
    <a class="back internal" href="/photo.html">&#9664;</a>
    <div class="tiles">
      {% for photo in gallery.photos %}
        <div class="photo-container gallery-item" style="background-image: url('/img/{{ key }}/{{ photo }}')">
          <a  class="internal" href="/res/img/{{ key }}/{{ photo }}"></a>
        </div>
      {% endfor %}
    </div>
  </div>

{% include footer.html %}
